CSA/PROFTAAK SERVER/Client/Service References/MyCalculator/calculatorservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="MyCalculatorContract" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="MyCalculatorContract" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="MyCalculatorContract/Imports">
      <xsd:import schemaLocation="http://localhost:8000/calculatorservice?xsd=xsd0" namespace="MyCalculatorContract" />
      <xsd:import schemaLocation="http://localhost:8000/calculatorservice?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculator_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Substract_InputMessage">
    <wsdl:part name="parameters" element="tns:Substract" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Substract_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubstractResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Multiply_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiply" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Multiply_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Divide_InputMessage">
    <wsdl:part name="parameters" element="tns:Divide" />
  </wsdl:message>
  <wsdl:message name="ICalculator_Divide_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivideResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculator_getNrOfCalculations_InputMessage">
    <wsdl:part name="parameters" element="tns:getNrOfCalculations" />
  </wsdl:message>
  <wsdl:message name="ICalculator_getNrOfCalculations_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNrOfCalculationsResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalculator">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="MyCalculatorContract/ICalculator/Add" message="tns:ICalculator_Add_InputMessage" />
      <wsdl:output wsaw:Action="MyCalculatorContract/ICalculator/AddResponse" message="tns:ICalculator_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Substract">
      <wsdl:input wsaw:Action="MyCalculatorContract/ICalculator/Substract" message="tns:ICalculator_Substract_InputMessage" />
      <wsdl:output wsaw:Action="MyCalculatorContract/ICalculator/SubstractResponse" message="tns:ICalculator_Substract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <wsdl:input wsaw:Action="MyCalculatorContract/ICalculator/Multiply" message="tns:ICalculator_Multiply_InputMessage" />
      <wsdl:output wsaw:Action="MyCalculatorContract/ICalculator/MultiplyResponse" message="tns:ICalculator_Multiply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <wsdl:input wsaw:Action="MyCalculatorContract/ICalculator/Divide" message="tns:ICalculator_Divide_InputMessage" />
      <wsdl:output wsaw:Action="MyCalculatorContract/ICalculator/DivideResponse" message="tns:ICalculator_Divide_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNrOfCalculations">
      <wsdl:input wsaw:Action="MyCalculatorContract/ICalculator/getNrOfCalculations" message="tns:ICalculator_getNrOfCalculations_InputMessage" />
      <wsdl:output wsaw:Action="MyCalculatorContract/ICalculator/getNrOfCalculationsResponse" message="tns:ICalculator_getNrOfCalculations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>