CSA/TrainClient/TrainClient/Service References/TrainService/TrainService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="TrainService" elementFormDefault="qualified" targetNamespace="TrainService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MessageBuilder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="value" type="xs:int" />
        <xs:element minOccurs="0" name="MessageType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageBuilderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MessageBuilderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageCollect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageCollectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MessageCollectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageSendArduino">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageSendArduinoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageSendPLC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageSendPLCResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Error">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ErrorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>